/* The side navigation menu */



body {
    overflow: hidden;
    font-size: 26px
}

/*
html {
  background: url(/static/images/bilde2.jpg  ) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/



.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.container-fluid{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sidenav {
    font-family: sans-serif;
    display: none;
    height: 0; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    z-index: 1; /* Stay on top */
    background-color: rgba(0,0,0,0.9);/* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s ease-in-out;/* 0.5 second transition effect to slide in the sidenav */
    position: relative;
    margin-top: 0px;
    color: white;
    padding-bottom: 2px;
}

/* The navigation menu links */
.sidenav a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    text-align: center;
    /*font-size: 200%; font-size: 300% font-size: 50%*/
    color: white;
    display: block;
    transition: 0.3s;
    width: 100%;

}

#menyLinker:hover{
    color: grey !important;
    font-size: 30px;
}


#main {
  transition: margin-left .5s;
  padding: 20px;
}

#header{
    background-color: rgba(0,0,0, 0.9);
    margin: 0;
}

#meny{
    padding-left: 10%;
    padding-top: 5%;
    height: 80%;
    z-index: -100;
}

#logo{
    height: 120px;
}

#loggetinn{
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#loggetinn2{
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    padding-right: 10%;
   /* font-size: 700%*/
}

