#overskrift{
    text-align: center;
    font-size: 60px
}

#regnskapet{
    text-align: center;
    background-color: rgba(255,255,255, 0.9);
}

#utleggene{
    text-align: center;
    width: 100%;
}

#negativt{
    color: red;
}

#positivt{
    color: green;
}

#selveUtleggene{
    padding-top: 2%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
