{% extends "base.html" %}
{% load static %}

{% block title %}Oversikt{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/css/oversikt.css">{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}


{% block content %}

    {% for key, value in month_dict.items %}
    <div class="row" id="outer_row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="regnskapet">
                <h3 id="overskrift">{{ key }}</h3>
                <div class="row">
                    <div class="col-sm-3"><h4>Dato</h4></div>
                    <div class="col-sm-3"><h4>Konto</h4></div>
                    <div class="col-sm-3"><h4>Sum</h4></div>
                    <div class="col-sm-3"></div>
                </div>
                {% for sum in value %}
                    <div class="row" id="row">
                        <div class="col-sm-3"><h4 id="utleggene">{{ sum.date }}</h4></div>
                        <div class="col-sm-3"><h4 id="utleggene">{{ sum.account.name }}</h4></div>
                        <div class="col-sm-3"><h4 id="utleggene">{{ sum.sum}}</h4></div>
                        <div class="col-sm-3">
                            <form method="POST" name="slettForm" action="{% url 'slett_sum' %}" >
                                {% csrf_token %}
                                <input type="number" value="{{sum.sumid }}" style="display: none" name="sumid">
                                <button type="submit" name="Slett_sum" class="btn btn-dark text-center" >Slett sum</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-2"></div>
            <br>

    </div>
    {% endfor %}
{% endblock %}
